/* 
 * Nav and Footer styles based on OKFN brand design. 
 */

nav ul li, 
footer,
footer p {
  font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

nav ul.nav.nav-tabs li {
  float: right;
}

nav ul.nav.nav-tabs li a.active {
  color: #000;
  font-weight: bold;
  font-family: OpenSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  background: #222222 url('http://assets.okfn.org/web/images/footer-watermark.png') top right no-repeat;
  margin-top: 50px;
  padding: 0;
}

footer > .inner {
  background: url('http://assets.okfn.org/web/images/footer-bevel.png') top repeat-x;
  padding: 10px 0 30px 0;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  min-height: 190px;
}

footer ul.footer-links {
}

footer a, footer a:hover {
  color: #AEEBDF;
}


