_site/*
*.DS_Store
*.pyc
.env
pyenv
bower_components/*
offenerhaushalt/static/gen/*
offenerhaushalt/static/aggregates/*
offenerhaushalt/static/.webassets-cache/*
build/*
oldjs/*
migrate-spendb/exports/*
exports/*
.sass-cache
.jekyll-metadata
