_site/*
*.DS_Store
*.pyc
.env
offenerhaushalt.egg-info/*
pyenv
offenerhaushalt/static/vendor/*
offenerhaushalt/static/gen/*
offenerhaushalt/static/aggregates/*
offenerhaushalt/static/.webassets-cache/*
build/*
migrate-spendb/exports/*
exports/*
