_site/*
*.DS_Store
*.pyc
.env
offenerhaushalt.egg-info/*
pyenv
offenerhaushalt/static/vendor/*
offenerhaushalt/static/bower_components/*
offenerhaushalt/static/gen/*
offenerhaushalt/static/oldjs/*
offenerhaushalt/static/aggregates/*
offenerhaushalt/static/.webassets-cache/*
build/*
migrate-spendb/exports/*
exports/*
.sass-cache
