---
layout: default
title: All
script_include: home
---
{% include relative-baseurl.html %}

<div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
        {% assign landcities = site.haushalte %}
        {% for bundes in site.data.bundesland %}
        <h1>{{ bundes.name }}</h1>
          {% for land in landcities %}
            {% if land.config and land.state == bundes.code %}
            {% unless land.url contains 'edit' or land.url contains 'embed' %}
            <a href="{{ land.url }}">{{ land.name }}</a>
            <p>
            {% endunless %}
            {% endif %}
          {% endfor %}
          <p>
        {% endfor %}
        </div>
      </div>
    </div>
</div>

