---
layout: default
title: Haushalte von Bund, Ländern und Kommunen
script_include: home
---

<div class="row">
  <div class="col-xs-12">
    <div class="row welcome">
      <div class="col-xs-12 col-md-7">
        <p class="claim">
          OffenerHaushalt stellt die Ausgaben und Einnahmen von Bund, Ländern und Kommunen übersichtlich dar.
        </p>
        <div id="default-welcome">
          <p>
            Wir schaffen einen einfachen Zugang zu öffentlichen Haushalten, damit interessiere Bürger sich einen Überblick über die Finanzen in ihrer <a href="#kommunen">Stadt</a>,
            ihrem <a href="#laender">Bundesland</a> oder der <a href="/haushalt/bund/">Bundesrepublik</a> machen können.
          </p>
        </div>
        <div id="listing"></div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>


<script id="listing-template" type="text/x-handlebars-template">{% raw %}
  {{#if has_sites}}
    <p>
      In <strong>{{state.name}}</strong> haben wir bislang die folgenden Haushalte
      erschlossen:</p>
    <ul>
      {{#each sites}}
        <li><strong><a href="/haushalt/{{slug}}/">{{name}}</a></strong>: {{tagline}}</li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if no_sites}}
    <p>
      Für <strong>{{state.name}}</strong> steht bislang kein Haushalt
      zur Verfügung.
    </p>
  {{/if}}
  <p>
    <strong>Ist ihre Kommune oder ihr Bundesland nicht verfügbar?</strong>
    <a href="/page/mitmachen.html">Machen Sie mit</a>, und erschließen Sie
    weitere Haushaltsdaten für OffenerHaushalt.
  </p>
{% endraw %}</script>


<hr>
<div class="row dataset-listing">
  <div class="col-xs-12 col-md-4">
    <h2 id="laender">Länderhaushalte</h2>
    <p>
      Die Haushalte der Länder umfassen Ausgaben für
      Dienste wie Polizei und Bildung.
    </p>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="row">
    {% for haushalt in site.budget %}{% if haushalt.level == 'land' and haushalt.skip != true and haushalt.layout != "embed" %}
      <div class="col-xs-12 col-md-6">
        <h3><a href="{{haushalt.url}}">{{haushalt.name}}</a></h3>
        <p>{{haushalt.tagline}}</p>
      </div>
    {% endif %}{% endfor %}
    </div>
  </div>
</div>

<hr>
<div class="row dataset-listing">
  <div class="col-xs-12 col-md-4">
    <h2 id="kommunen">Kommunalhaushalte</h2>
    <p>
      Haushalte von Bezirken, Kommunen und Kreisen.
    </p>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="row">
    {% for haushalt in site.budget %}{% if haushalt.level != 'land' and haushalt.level != 'bund' and haushalt.skip != true and haushalt.layout != "embed" %}
      <div class="col-xs-12 col-md-6">
        <h3><a href="{{haushalt.url}}">{{haushalt.name}}</a></h3>
        <p>{{haushalt.tagline}}</p>
      </div>
    {% endif %}{% endfor %}
    </div>
  </div>
</div>