<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-2 hidden-xs">
        <a class="logo" href="https://okfn.de">
          <img src="{{ relative-baseurl }}static/img/okfn-logo-white.svg" alt="Open Knowledge Foundation Deutschland e.V." />
        </a>
      </div>
      <div class="links col-xs-12 col-sm-7 col-md-7">
        <ul>
          <li>Über das Projekt</li>
          <li>Offene Haushaltsdaten</li>
          <li>Downloads</li>
          <li><a href="{{ relative-baseurl }}page/mitmachen.html">Mitmachen</a></li>
          <li><a href="{{ relative-baseurl }}page/links.html">Links & verwandte Projekte</a></li>
          <li><a href="{{ relative-baseurl }}page/kontakt_und_impressum.html">Kontakt & Impressum</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
