<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-2 hidden-xs">
        <a class="logo" href="https://okfn.de">
          <img src="/static/img/okfn-logo-black.svg" alt="Open Knowledge Foundation Deutschland e.V." />
        </a>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10">
        <p class="from">
          OffenerHaushalt.de ist ein ehrenamtliches Projekt der
          <a href="https://okfn.de">Open Knowledge Foundation Deutschland e.V.</a>
          Das Projekt basiert auf amtlichen Daten des Bundesministeriums für Finanzen
          und anderer Stellen, ist jedoch von der Regierung unabhängig.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <ul class="links">
          <!-- li><a href="http://offenedaten.de">OffeneDaten.de</a></li-- >
          <!-- li><a href="http://offenesparlament.de">OffenesParlament.de</a></li-->
          <li><a href="https://fragdenstaat.de">FragDenStaat.de</a></li>
          <li><a href="http://codefor.de">Code for Germany</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-5 pull-right">
        <ul class="links pull-right">
          <!-- li><a href="/page/mitmachen.html">Mitmachen</a></li-->
          <li><a href="https://github.com/okfde/offenerhaushalt.de">Quellcode</a></li>
          <li><a href="/page/kontakt.html">Impressum</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>