<div class="navbar-top collapse navbar-collapse navbar-ex1-collapse">
  <div class="top-message">
    Wir sind unabhängig, nicht gewinnorientiert und arbeiten viel ehrenamtlich.
  </div>
  <ul class="nav navbar-nav">
    <li>
      <a href="https://twitter.com/offenerhaushalt"><img style="width: 22px" src="/static/img/twitter-icon.svg"></a>
      <a class="github" href="https://github.com/okfde/offenerhaushalt.de"><img style="width: 22px" src="/static/img/github.png"></a>
    </li>
    <li>
      <a href="{{ relative-baseurl }}page/finanzdaten.html">Über Finanzdaten</a>
    </li>
    <li class="spendet">
      <a href="{{ relative-baseurl }}page/spenden.html">Spenden</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default" role="navigation" id="menu">
  <div class="container relbox">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ relative-baseurl }}">
      <img src="/static/img/ohh-logo.svg" class="main-logo">
       </a>
    </div>
 </div>
    <ul class="navbar right-nav">
      {% if page.url == '/' %}
      <li>{%icon fa-search %}Datensatz finden</li>
      {% else %}
      <li><a href="{{ relative-baseurl }}">{%icon fa-search %}Datensatz finden</a></li>
      {% endif %}
      {% if page.url contains 'hinzufuegen' %}
      <li>{%icon fa-plus %} Datensatz hinzufügen</li>
      {% else %}
      <li><a href="{{ relative-baseurl }}hinzufuegen/">{%icon fa-plus %} Datensatz hinzufügen</a></li>
      {% endif %}
      {% if page.url contains 'hilfestellung' %}
      <li class="active"><a href="{{ relative-baseurl }}hilfestellung/">{%icon fa-life-ring %} Hilfe&shy;stellung</a></li>
      {% else %}
      <li><a href="{{ relative-baseurl }}hilfestellung/">{%icon fa-life-ring %} Hilfe&shy;stellung</a></li>
      {% endif %}
    </ul>
</nav>


