<div class="navbar-top collapse navbar-collapse navbar-ex1-collapse">
  <div class="top-message">
    Wir sind unabhängig, nicht gewinnorientiert und arbeiten viel ehrenamtlich.
  </div>
  <ul class="nav navbar-nav">
    <li>
      <a href="{{ relative-baseurl }}page/finanzdaten.html">Über uns</a>
    </li>
    <li class="spendet">
      <a href="{{ relative-baseurl }}page/intro.html">Spendet uns!</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default" role="navigation" id="menu">
  <div class="container relbox">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/static/img/ohh-logo.svg" class="main-logo">
      <a class="navbar-brand" href="{{ relative-baseurl }}"><img src="/static/img/offener-haushalt.png" alt="Offener Haushalt"/></a>
    </div>
 </div>
    <ul class="navbar right-nav">
      <li>{%icon fa-search %}Datensatz finden</li>
      <li><a href="{{ relative-baseurl }}/hinzufuegen/">{%icon fa-plus %} Datensatz hinzufügen</a></li>
      <li><a href="{{ relative-baseurl }}/hilfestellung/">{%icon fa-life-ring %} Hilfestellung</a></li>
    </ul>
</nav>


