<script src="{{ relative-baseurl }}static/js/dep.js"></script>
<script id="sites-data" type="application/json">
  {
    "sites": [
    {% for haushalt in site.budget %}{% if haushalt.skip != true and haushalt.layout != "embed" %}
      {% unless forloop.first %},{% endunless %}{
        "name": "{{ haushalt.name }}",
        "state": "{{ haushalt.state }}",
        "slug": "{{ haushalt.slug }}",
        "tagline": "{{ haushalt.tagline }}"
      }
    {% endif %}{% endfor %}
    ],
    "baseurl": "{{ relative-baseurl }}"
  }
</script>
<script src="{{ relative-baseurl }}static/js/home.js"></script>
