<link rel="stylesheet" href="{{ relative-baseurl }}static/css/easy-autocomplete.css" />
<script src="{{ relative-baseurl }}static/js/dep.js"></script>
<script src="{{ relative-baseurl }}static/js/jquery.easy-autocomplete.min.js"></script>
<script id="sites-data" type="application/json">
  {
    "sites": [
    {% for haushalt in site.budget %}
      {% if haushalt.skip == true %}{% continue %}{% endif %}
      {% if haushalt.layout != 'budget2' %}{% continue %}{% endif %}
      {
        "name": "{{ haushalt.name }}",
        "state": "{{ haushalt.state }}",
        "slug": "{{ haushalt.slug }}",
        "url": "{{ relative-baseurl }}haushalt/{{haushalt.slug}}/",
        "tagline": "{{ haushalt.tagline }}"{% if haushalt.coordinates %},
        "coordinates": [{{haushalt.coordinates.lng}}, {{haushalt.coordinates.lat}}]{% endif %}
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
    ],
    "baseurl": "{{ relative-baseurl }}"
  }

</script>
<script src="{{ relative-baseurl }}static/js/home.js"></script>
