<!DOCTYPE html>
<html lang="de" ng-app="offenerhaushalt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Willkommen{% endblock %} - OffenerHaushalt</title>
  <meta name="description" content="{% block description %} - {% endblock %}">

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  {% assets filters="scss,cssmin", output="gen/style.%(version)s.css",
      "style/style.scss"
  %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
  <link rel="canonical" href="http://offenerhaushalt.de{{request.path}}" />
</head>
<body ng-controller="AppController">
  {% block body %}{% endblock %}
  {% assets filters="uglifyjs", output="gen/app.%(version)s.js",
        "bower_components/angular/angular.js",
        "bower_components/angular-animate/angular-animate.js",
        "js/app.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block js %}{% endblock %}

  {% include "analytics.html" %}
</body>
</html>
