{% extends "layout.html" %}

{% block title %}
  Haushalte von Bund, Ländern und Kommunen
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<!--img src="/static/img/schaeuble.png" class="img-responsive home-image" style="position: absolute;"-->
			<div class="row welcome">
				<div class="col-xs-12 col-md-7">
					<p class="claim">
						OffenerHaushalt stellt die Ausgaben und Einnahmen von Bund, Ländern und Kommunen übersichtlich dar.
					</p>
					<div id="default-welcome">
						<p>
							Wir schaffen einen einfachen Zugang zu öffentlichen Haushalten, damit interessiere Bürger sich einen Überblick über die Finanzen in ihrer Stadt,
							ihrem Bundesland oder der Bunderrepublik machen können.

						</p>
					</div>
					<div id="listing"></div>
				</div>
				<div class="col-xs-12 col-md-5">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	

	<script id="listing-template" type="text/x-handlebars-template">{% raw %}
		{{#if has_sites}}
			<p>
				In <strong>{{state.name}}</strong> haben wir bislang die folgenden Haushalte
				erschlossen:</p>
			<ul>
				{{#each sites}}
					<li><strong><a href="/haushalt/{{slug}}">{{name}}</a></strong>: {{tagline}}</li>
				{{/each}}
			</ul>
		{{/if}}
		{{#if no_sites}}
			<p>
				Für <strong>{{state.name}}</strong> steht bislang kein Haushalt
				zur Verfügung.
			</p>
		{{/if}}
		<p>
			<strong>Ist ihre Kommune oder ihr Bundesland nicht verfügbar?</strong> 
			<a href="/page/mitmachen.html">Machen Sie mit</a>, und erschließen Sie
			weitere Haushaltsdaten für OffenerHaushalt.
		</p>
	{% endraw %}</script>


	<hr><a name="kommunen">&nbsp;</a>
	<div class="row dataset-listing">
		<div class="col-xs-12 col-md-4">
			<h2>Länderhaushalte</h2>
			<p>
				Die Haushalte der Länder umfassen Ausgaben für 
				Dienste wie Polizei und Bildung.
			</p>
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="row">
			{% for site in state_sites %}
				<div class="col-xs-12 col-md-6">
					<h3><a href="{{url_for('site', slug=site.slug)}}">{{site.name}}</a></h3>
					<p>{{site.tagline}}</p>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
	
	<hr><a name="laender">&nbsp;</a>
	<div class="row dataset-listing">
		<div class="col-xs-12 col-md-4">
			<h2>Kommunalhauhsalte</h2>
			<p>
				Haushalte von Bezirken, Kommunen und Kreisen.
			</p>
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="row">
			{% for site in local_sites %}
				<div class="col-xs-12 col-md-6">
					<h3><a href="{{url_for('site', slug=site.slug)}}">{{site.name}}</a></h3>
					<p>{{site.tagline}}</p>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script id="sites-data" type="application/json">{{sites_json | safe }}</script>
    {% assets filters="uglifyjs", output="gen/home.js",
        "js/home.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}

