{% extends "layout.html" %}

{% block title %}
  {{site.name}}
{% endblock %}

{% block content %}
	<h1 class="page-header">{{site.name}}</h1>

  <div class="row">
    <div class="col-md-10">
      <div id="treemap"></div>
    </div>
    <div class="col-md-2">
      huhu
    </div>
  </div>
{% endblock %}

{% block js %}
  <script id="site-config" type="application/json">{{site_json | safe }}</script>
  {% assets filters="uglifyjs", output="gen/budget.js",
        "js/budget.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
