{% extends "layout.html" %}

{% block title %}
  {{site.name}}
{% endblock %}

{% block description %}{{ site.tagline }}{% endblock %}

{% block content %}
	<h1 class="page-header site">{{site.name}} <!--small>{{site.tagline}}</small--></h1>

  <div class="row">
    <div class="col-sm-12 col-md-6 site-menu">
      <a class="btn btn-default btn-sm" id="parent"><strong><i class="fa fa-level-up"></i> Ebene hoch</strong></a>
      <div class="btn-group btn-group-sm" id="hierarchy-menu">
        <a class="btn btn-default"><strong>Ansicht:</strong></a>
        {% for name, data in site.hierarchies.items() %}
          <a class="btn btn-default {{name}}" href="#{{name}}/">{{data.name}}</a>
        {% endfor %}
      </div>
      <div class="btn-group btn-group-sm">
        <a class="btn btn-default" id="infobox-toggle">
          <i class="fa fa-info-circle"></i> Daten &amp; Embed
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 site-menu site-filters">
      <div class="btn-group btn-group-sm pull-right">
        <a class="btn btn-default"><strong>Filter:</strong></a>
          {% for filter in site.filters %}
            <div class="btn-group btn-group-sm">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{filter.name}}: <strong data-field="{{filter.field}}">{{filter.default}}</strong>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% if filter.nullable %}
                  <li>
                    <a class="value {% if value==filter.default %}active{% endif %}" href="#"
                      data-field="{{filter.field}}" data-value="">
                      <i class="fa fa-check"></i> Alle
                    </a>
                  </li>
                {% endif %}
                {% for value in filter.values %}
                  <li>
                    <a class="value {% if value==filter.default %}active{% endif %}" href="#"
                      data-field="{{filter.field}}" data-value="{{value.key}}">
                      <i class="fa fa-check"></i> {{value.label}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
      <div id="infobox">
        <div class="row">
          <div class="col-md-6">
            <!--h3>Über diese Grafik</h3-->
            <p>
              <strong>Beschreibung:</strong> {{site.tagline}}
            </p>
            <p class="sources">
              Quelle: <strong><a href="{{site.source_url}}">{{site.source}}</a></strong>
              {% if site.data_url %}
                (<a href="{{site.data_url}}">Rohdaten</a>)
              {% endif %}
            </p>
          </div>
          <div class="col-md-6">
            <!--h3>Visualisierung und Tabelle einbetten</h3-->
            <p>
              <strong>Visualisierung und Tabelle einbetten:</strong> Nutzen Sie diesen Embed-Code, um die Grafik in ein eigenes Blog oder auf einer Webseite einzubinden:
            </p>
            <code id="embed-code"></code>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
      <div id="treemap"></div>
    </div>
    <!--div class="col-md-2">
      huhu
    </div-->
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="table"></div>
    </div>
    <!--div class="col-md-2">
      huhu
    </div-->
  </div>

{% endblock %}

{% block js %}
  <script id="table-template" type="text/x-handlebars-template">{% raw %}
    <table class="table table-condensed">
      <tr>
        <th>Titel</th>
        <th class="num">Betrag</th>
        <th class="num">Anteil</th>
      </tr>
      {{#each cells}}
        <tr {{#if _small}}class="small"{{/if}}>
          <td>
            <i style="color: {{_color}};" class="fa fa-square"></i>
            {{#if _url}}
              <a href="{{_url}}">{{_current_label}}</a>
            {{/if}}
            {{#if _no_url}}
              {{_current_label}}
            {{/if}}
          </td>
          <td class="num">{{_value_fmt}}</td>
          <td class="num">{{_percentage_fmt}}</td>
        </tr>
      {{/each}}
      <tr>
        <td colspan="3">
          <span class="pull-right">
            <a class="show-small" href="#"><i class="fa fa-plus-square"></i> kleine Posten anzeigen</a>
            <a class="hide-small" href="#"><i class="fa fa-minus-square"></i> kleine Posten verstecken</a></span>
          </span>
        </td>
      </tr>
      <tr>
        <th>
          Total
        </th>
        <th class="num">{{summary._value_fmt}}</th>
        <th class="num">100%</th>
      </tr>
    </table>
  {% endraw %}</script>

  <script id="embed-template" type="text/x-handlebars-template">{% raw %}<iframe src="{{baseurl}}embed/{{hash}}" width="100%" height="520px" frameborder="0" style="margin:0">
    <a href="{{url}}">Offener Haushalt: {{name}}</a></iframe><br><small>
    <a href="{{url}}">OffenerHaushalt.de</a></small>{% endraw %}</script>

  <script id="site-config" type="application/json">{{site_json | safe }}</script>
  {% assets filters="uglifyjs", output="gen/budget.%(version)s.js",
        "js/treemap.js",
        "js/table.js",
        "js/budget.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
