---
script_include: budget2
slug: berlin3
skip: true
layout: default
---
{% include relative-baseurl.html %}

<div class="row {% if page.url contains 'embed' %} embed{% endif %}">
  <div class="budget-page  {% if page.url contains 'embed' %} embed{% endif %} col-xs-12 col-md-12">
    <h1>{{page.name}}</h1>
    <h2>Wählen Sie aus, nach welchen Feldern der Haushalt sortiert sein soll</h2>
    <div id="treemap-budget"></div>
      <div class="city-info">
      {{ content }}
      </div>
    </div>
    <div id="embed-treemap">
      <a id="embed-button" target="_blank">embed</a>
      <div id="embed-code" style="display: none">
        <pre><code class="html">
&lt;iframe src="{{ site.url }}{{ page.url }}/embed" width="100%" height="520px" frameborder="0" style="margin:0"&gt;
&lt;a href="{{ site.url }}{{ page.url }}"&gt;Offener Haushalt: {{page.name}}&lt;/a&gt;
&lt;/iframe&gt;
&lt;br/&gt;
&lt;small&gt;
&lt;a href="{{ site.url }}{{ base_url }}{{ page.url }}"&gt;OffenerHaushalt.de&lt;/a&gt;
&lt;/small&gt;
        </code></pre>
      </div>
    </div>
  </div>
</div>

