---
layout: city
---

{% assign cities = site.haushalte | where: "state", page.code %}
{% assign cities = cities | where: "level", "kommune" %}

{% if page.code == 'DE' %}
{% else %}
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div id="search-back-button"><img src="/static/img/mini-map.png">Wählen Sie</div>
  </div>
</div>
<div class="row">
  <div class="cities-list col-xs-12 col-md-12">
    <h1>{{ page.land }}</h1>
    <p>
    <input id="search-input" name="search" placeholder="Ort eingeben">
    <script type="text/javascript">
      $('#search-back-button').click(function () {
        $('#map-selector').slideDown(400)
      })

      var options = {
        data: [{% for k in site.data.kommunen[page.code] %}
               "{{k}}"{% if forloop.last == false %}, {% endif %}
              {% endfor %}
        ],
        list: {
          maxNumberOfElements: 8,
          match: {
            enabled: true
          },
          onLoadEvent: function (evt) {
           console.log(evt)
          }
        }
      }

      $('#search-input').easyAutocomplete(options);
    </script>

    </p>
    <div class="bundesland-box">
      <div class="name">
        <h2> {{ page.land }}</h2>
        Länderhaushalt {{ page.years }}
      </div>
      {% assign land = site.haushalte | where: "state", page.code | where: "level", "land"  %}
      {% assign land_size = land | size %}
      {% if land_size > 0 %}
        {% for l in land %}
          {% if l.config %}
          <div class="visualisierung">
            <a href="{{ l.url }}">  zur Visualisierung {% icon fa-long-arrow-right %}</a>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    {% assign cities_size = cities | size %}
    {% if cities_size > 0 %}
    <hr>
    {% endif %}
    {% for c in cities %}
    {% if c.config %}
    <div class="bundesland-box">
      <div class="name">
        <h2>{{ c.name }}</h2>
        Länderhaushalt - 2016
      </div>
      <div class="visualisierung">
        <a href="{{ c.url }}"> zur Visualisierung {% icon fa-long-arrow-right %}</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% if page.code != 'BE' %}
<div class="row cities-count">
  <div class="container">
    <div class="row">
      <div class="cities-message col-xs-12 col-md-12">
        {% assign count = site.budget | where: "state", page.code | size %}
        {% assign kommunen_nummer = site.data.kommunen[page.code] | size %}
        <h1>{{ page.land }} hat {{ kommunen_nummer }} Kommunen. {% if cities_size > 0 %}{% if cities_size == 1 %}Wir haben erst einen Haushalt. {% else %}Wir haben aber erst {{ cities_size }} Haushalte.{% endif %}{% else %}Wir haben noch keine Haushalte.{% endif %}</h1>
        <p>Helfen Sie mit einen weiteren Haushalt zu veröffentlichen und fragen ihn bei der Behörde an!</p>
      </div>
   </div>
   <div class="row">
      <div class="letters-list">
        <a href="#A">A</a> <a href="#B">B</a> <a href="#C">C</a> <a href="#D">D</a> <a href="#E">E</a> <a href="#F">F</a> <a href="#G">G</a> <a href="#H">H</a> <a href="#I">I</a> <a href="#J">J</a> <a href="#K">K</a> <a href="#L">L</a> <a href="#M">M</a> <a href="#N">N</a> <a href="#O">O</a> <a href="#P">P</a> <a href="#Q">Q</a> <a href="#R">R</a> <a href="#S">S</a> <a href="#T">T</a> <a href="#U">U</a> <a href="#V">V</a> <a href="#W">W</a> <a href="#X">X</a> <a href="#Y">Y</a> <a href="#Z">Z</a>
      </div>
   </div>
  </div>
</div>
<div class="row cities-list">
  <ul>
  {% assign letters = [] %}
  {% assign cities_count = 0 %}
  {% assign old_letter = '' %}
  {% for k in site.data.kommunen[page.code] %}
    {% assign cities_count = cities_count + 1 %}
    {% assign city = k %}
    {% assign letter = city | slice: 0 %}
    {% if letter != old_letter %}
      {% if forloop.index0 != 0 %}
        {% assign cols_size = cs | size %}
        {% if cols_size >= 15 %}
        {% assign cols_size = cols_size | divided_by: 3 %}
        {% else %}
        {% assign cols_size = cols_size %}
        {% endif %}
        <div class="container letters">
          <div class="letter-background">
            <span id="{{old_letter}}">{{ old_letter }}</span>
          </div>
        {% for c in cs %}
          {% if forloop.index > cols_size %}
            {% assign cols_size = cols_size | plus: cols_size %}
            </div>
            <div class="letter-col col-xs-3 col-md-3">
          {% endif %}
          {% if forloop.index == 1 %}
            <div class="letter-col first col-xs-3 col-md-3">
          {% endif%}
            {{ c }}
            <p>
        {% endfor %}
          </div>
        </div>
      {% endif %}
       {% assign cs = '' | split:'' | push: city %}
      {% assign cities_count = 1 %}
    {% else %}
      {% assign cs = cs | push: city %}
    {% endif %}
    {% assign old_letter = letter %}
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endif %}
