---
layout: city
---

<div class="row">
  <div class="cities-list col-xs-12 col-md-12">
    <h1>{{ page.land }}</h1>
    <div class="bundesland-box">
      <div class="name">
        <h2>Baden-Württemberg</h2>
        Länderhaushalt - 2016
      </div>
      <div class="visualisierung">
        zur Visualisierung {% icon fa-long-arrow-right %}
      </div>
    </div>
    <hr>
    <div class="bundesland-box">
      <div class="name">
        <h2>Baden-Württemberg</h2>
        Länderhaushalt - 2016
      </div>
      <div class="visualisierung">
        zur Visualisierung {% icon fa-long-arrow-right %}
      </div>
    </div>
  </div>
</div>
<div class="row cities-count">
  <div class="container">
    <div class="row">
      <div class="cities-message col-xs-12 col-md-12">
        <h1>Baden-Württember hat 1.101 Kommunen. Wir haben aber erst 5 Haushalte.</h1>
        <p>Helfen Sie mit einen weiteren Haushalt zu veröffentlichen und fragen ihn bei der Behörde an!</p>
      </div>
    </div>
  </div>
</div>

