---
script_include: budget2
layout: basic
---
{% include relative-baseurl.html %}

<!-- {{page.name}} -->
<div style="overflow:hidden">
  <div class="row">
    <div class="col-md-12">
      <div id="treemap"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="table"></div>
    </div>
    <!--div class="col-md-2">
    </div-->
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="pull-right" href="{{ relative-baseurl }}">OffenerHaushalt.de</a>
    </div>
  </div>
</div>
