---
layout: base
---
<div id="page">
  <nav class="navbar navbar-default" role="navigation" id="menu">
    <div class="container relbox">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">OffenerHaushalt</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a target="_self" href="/haushalt/bund">Bund</a>
          </li>
          <li>
            <a target="_self" href="/#laender">Länder</a>
          </li>
          <li>
            <a target="_self" href="/#kommunen">Kommunen</a>
          </li>
          <li>
            <a target="_self" href="/page/intro.html">Über uns</a>
          </li>
        </ul>
        <div class="donations"><a href="http://okfn.de/spenden/"><img src="/assets/img/buddha.png" title="Jetzt spenden!"></a></div>
      </div>
    </div>
  </nav>
  <div id="airlock" class="container">
    <div class="row">{{ content }}</div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 hidden-xs">
        <a class="logo" href="http://okfn.de">
          <img src="/assets/img/okfn.png" alt="Open Knowledge Foundation e.V." />
        </a>
      </div>
      <div class="col-xs-12 col-sm-10">
        <p>
          OffenerHaushalt.de ist ein ehrenamtliches Projekt der
          <a href="http://okfn.de">Open Knowledge Foundation Deutschland e.V.</a>
          Das Projekt basiert auf amtlichen Daten des Bundesministeriums für Finanzen
          und anderer Stellen, ist jedoch von der Regierung unabhängig.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <ul class="links">
          <li><a href="http://offenedaten.de">OffeneDaten.de</a></li>
          <li><a href="http://offenesparlament.de">OffenesParlament.de</a></li>
          <li><a href="http://fragdenstaat.de">FragDenStaat.de</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-5 pull-right">
        <ul class="links pull-right">
          <li><a target="_self" href="/page/mitmachen.html">Mitmachen</a></li>
          <li><a href="https://github.com/okfde/offenerhaushalt.de">Quellcode</a></li>
          <li><a target="_self" href="/page/kontakt.html">Impressum</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
